<html>

<head>
<title>RLSeq Results 🔥</title>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/jpg" href="https://rlbase-data.s3.amazonaws.com/misc/assets/favicon-32x32.png">

</head>

<body>

<div class="container">
  <br>
  <h2>RLSeq Results 🔥</h2>
  <hr>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-6">
      <h4>Description of analysis</h4>
      <hr>
      <p>
      <a href="https://bishop-laboratory.github.io/RLSeq/" target="_blank"><em>RLSeq</em></a>
      was run on default settings with R-loop mapping data uploaded to <em>RLBase</em>.
      Briefly, the uploaded file was read into R and converted to an <code>RLRanges</code> object.
      Then, the core <em>RLSeq</em> pipeline was executed with the <code>RLSeq::RLSeq()</code> function.
      The resulting <code>RLRanges</code> object, now containing all available results, 
      was then saved and uploaded to an AWS S3 bucket. Finally, the <code>RLRanges</code> object
      was passed to the <code>RLSeq::report()</code> function to generate an HTML report. The 
      report was also uploaded to an AWS S3 bucket along with all log files.
      </p>
      <p>
      <em>NOTE</em>: Due to size limitations, we are unable to provide the ability to analyze correlations 
      as this requires submitting bigWig files. To learn more, check out the
      <a href="https://bishop-laboratory.github.io/RLSeq/" target="_blank">RLSeq</a>
      R package.
      </p>
      <p>
      <strong>If you find any errors or issues, please contact the package 
      maintainer (<a href="https://github.com/Bishop-Laboratory/RLBase/issues">RLBase repo</a>).</strong>
      </p>
    </div>
    <div class="col-6">
<!--begin.rcode getTable, echo=FALSE
fix_link <- function(x) {
  paste0(
    "<a href='", gsub(x, pattern = "/tmp/", replacement = "https://rlbase-userdata.s3.amazonaws.com/"),
    "' target='_blank'>", basename(x), "</a>"
  )
}
tb <- tibble::tribble(
        ~Item, ~Value,
        "Run ID", inputs$runID,
        "Sample Name", inputs$userSample,
        "Peaks", inputs$userPeaks$name,
        "Label", inputs$userLabel,
        "Mode", inputs$userMode,
        "Genome", inputs$userGenome,
        "RLSeq Report", fix_link(inputs$report),
        "RLRanges object", fix_link(inputs$rlranges),
        "Logs", fix_link(inputs$log)
    )
kb <- knitr::kable(
    tb, escape = FALSE
)
kableExtra::kable_styling(kb, bootstrap_options = c("hover", "striped"), full_width = FALSE)
end.rcode-->
    </div>
  </div>
  <br>
  <hr>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-3">
      <h4>User data upload</h4>
      <span>Status: <strong style="color: #009127; font-size: 1.2em;">Done</strong></span>
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
      <h4>Run <a href="https://bishop-laboratory.github.io/RLSeq/" target="_blank">RLSeq</a></h4>
      <span>Status: <strong style="color: #009127; font-size: 1.2em;">Done</strong></span>
    </div>
    <div class="col-1">
    </div>
    <div class="col-4">
      <h4>Upload results</h4>
      <span>Status: <strong style="color: #009127; font-size: 1.2em;">Done</strong></span>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-3">
      <img src="https://rlbase-data.s3.amazonaws.com/misc/assets/whitebgRLBase+logo.png" width="75%">
    </div>
    <div class="col-1">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Eo_circle_green_arrow-right.svg/512px-Eo_circle_green_arrow-right.svg.png" width="75%">
    </div>
    <div class="col-3">
      <img src="https://rlbase-data.s3.amazonaws.com/misc/assets/whitebgRLSeq+Logo.png" width="75%">
    </div>
    <div class="col-1">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Eo_circle_green_arrow-right.svg/512px-Eo_circle_green_arrow-right.svg.png" width="75%">
    </div>
    <div class="col-4">
      <img src="https://rlbase-data.s3.amazonaws.com/misc/assets/whitebgaws_logo.png" width="75%">
    </div>
  </div>
  <br>
  <hr>
  <div style="padding: 10px; padding-bottom: 0px;">
        <p>
        Please acknowledge <i>RLBase</i> in your publications by citing the following reference:<br>
        Miller et al., RLBase, (2021), GitHub repository, https://github.com/Bishop-Laboratory/RLBase
      <a href="https://github.com/Bishop-Laboratory/RLBase" target="_blank"> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> <img src="https://rlbase-data.s3.amazonaws.com/misc/assets/GitHub-Mark-64px.png" height="20"></a>
        </p>
    </div>
</div>
</div>


</body>
</html>
